/*---------------------------------EDITING MODAL-------------------------------------*/

.editing__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}
.editing__modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: white;
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-footer {
  background: lightblue;
  text-align: center;
}

.modal__title {
  color: rgba(0, 136, 169, 1);
  margin-left: 1rem;
}

.modal-header {
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
}

[data-animation="slideInOutLeft"] .modal-dialog {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s var(--bounceEasing);
}

[data-animation="slideInOutLeft"].is-visible .modal-dialog {
  opacity: 1;
  transform: none;
  transition-delay: 0.2s;
}

.close-modal {
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: rgba(0, 136, 169, 1);
  font-size: 0.5rem;
}

.close-modal:hover {
  background-color: rgba(0, 136, 169, 0.7);
  cursor: pointer;
}

.modal__input {
  padding: 1rem;
  font-size: 1.5;
  border: 2px solid rgba(0, 136, 169, 1);
  border-radius: 0.3rem;
  margin: 0.5rem 0.5rem 0 0;
}

.modal__input:focus {
  background-color: lightblue;
}

.modal__btn {
  color: white;
  padding: 1rem;
  border-radius: 0.3rem;
  border: none;
  background-color: rgba(0, 136, 169, 1);
  margin: 0.5rem 0.5rem;
  cursor: pointer;
}

.modal__btn:hover {
  background-color: rgba(0, 136, 169, 0.7);
}
